<div class="banner-background">
  <div class="banner-content">
    <h1>Clone BnB</h1>
    <p>Find Local services near you!</p>
    <div class="btn btn-info btn-lg">
      <%= link_to root_path, class: "starter" do %>
       Start now
      <% end %>
    </div>

  </div>
</div>
