<div class="banner-background">
  <div class="banner-content">
    <h1>Rakers</h1>
    <p>Find Local services near you!</p>
    <div class="btn btn-danger btn-lg">
      <%= link_to root_path, class: "starter" do %>
      Start now
      <% end %>
    </div>

  </div>
</div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This webpage is made with <i class="fa fa-heart"></i> by Team Rakers
    </div>
  </div>
