  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 cardbox">
        <h1>New Listing</h1>
        <%= render 'form', listing: @listing %>

    <%= link_to 'Cancel', listings_path, class: "cancel"%>
      </div>
    </div>
  </div>

