.cancel{
  padding-bottom: 30px;
  text-decoration: none;
}

.cancel:hover{
  text-decoration:none;
}
.cardbox{
  background-color: white;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}
