

.box{
  background: white;
  padding: 2em;
  margin: 2em;
}


.wrapper {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%),
    /* Then image below */
    image-url('berlin.jpg');
}

.container{
  box-shadow: 10px, 10px, 10px, black;
}
