

.box{
  background: white;
  padding: 2em;
  margin: 2em;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.4);
  img {
    width: 100%;
  }
}


.wrapper {
  background-image:
    /* Transparent gradient above */
    linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 50%),
    /* Then image below */
    image-url('berlin.jpg');
  background-repeat: no-repeat;
  background-size: 100% 75%;
}



