<div style="width: 170px;" class="map_box">
  <h5 style="font-size: 15px;"><%= listing.title %></h5>
  <img src="<%= listing.photo %>" height="80px">
  <p><%= listing.zip %></p>
  <div>
  <%= link_to "Details", listing_path(listing), target: :blank, class: "btn btn-warning details-button" %>
  </div>
</div>
