<div class="banner-background">
  <div class="banner-content">
    <h1 class="banner-title">Find Local Services</h1>
    <p>Book the best services near your house!</p>
    <br>
    <br>
    <br>
    <%= link_to listings_path, class: "starter" do %>
    <div class="btn btn-primary btn-lg starter">
      Start now
    </div>
    <% end %>
  </div>
</div>

<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
