.searchbar {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  display: flex;
}

#searchbar-icon-glas {
  position: relative;
  left: 10px;
  top: 30%;
  font-size: 20px;
}

#searchbar-field {

}

#searchbar-city {

}

#searchbar-category {

}

#searchbar-pricing-name {

}

#searchbar-pricing-selector {

}
